.ContactLinks {
    font-size: 100%;
    font-style: ;
    font-display: block;
    font-family: Courier New, Arial;
}
header {
    text-align: center;
    font-weight: bold;
    font-family: Courier New, Arial;
}
h2 {
    ;
    text-align: center;
    font-weight: bold;
    font-family: Courier New, Arial;
}
p {
    text-indent: 10%;
    text-align: center;
    font-size: 120%;
    text-rendering: optimizeLegibility;
    text-space: 10%;
    font-family: cursive, Arial;
    font-style: normal;
    font-display: block;
    white-space:normal;
}
.Main {
    background-color: #6497b1;
}
p.Footer{
    text-align: center;
    font-size: 70%;
    font-family: Arial;
    font-style: normal;
    font-display: block;
    white-space:normal;
}
.Header_Contacts{
    font-size: 100%;
    font-family: Courier;
    font-style: normal;
    font-display: block;
    white-space:normal;
}
input {
    color: white;
    background-color: #b3cde0;
    border: 1;
}
textarea.Message_box {
    color: white;
    background-color: #b3cde0;
    border: 1;
}
/* this a comment*/
